In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import numpy as np  # This is for general numerical operations
import seaborn as sns  # This allows us to efficiently and beautifully plot
import os
import geopandas as gpd
import palettable as pltt
from seaborn import palplot

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [20]:
# --------------------------
# 1. Load the csv file and import the right semicolon format
# --------------------------
file = "export2\deals.csv"

df_deals = pd.read_csv(
    file,
    sep=";",          # semicolon-separated
    engine="python",  # needed for multiline fields
    encoding="utf-8",
    )

# --------------------------
# 2. Basic structural exploration
# --------------------------
# print("===== FIRST 5 ROWS =====")
# print(df_deals.head())

print("===== COLUMN NAMES =====")
print(list(df_deals.columns), "\n")

print("===== DATAFRAME INFO =====")
print(df_deals.info(), "\n")

print("===== SHAPE OF DATA (rows, columns) =====")
print(df_deals.shape, "\n")

print("===== MISSING VALUES PER COLUMN =====")
print(df_deals.isna().sum(), "\n")

===== COLUMN NAMES =====
['Deal ID', 'Is public', 'Deal scope', 'Deal size', 'Target country', 'Current size under contract', 'Current size in operation (production)', 'Current negotiation status', 'Current implementation status', 'Fully updated', 'Created at', 'Top parent companies', 'Intended size (in ha)', 'Size under contract (leased or purchased area, in ha)', 'Size in operation (production, in ha)', 'Comment on land area', 'Intention of investment', 'Comment on intention of investment', 'Carbon offset project', 'Comment on carbon offset project', 'Nature of the deal', 'Comment on nature of the deal', 'Negotiation status', 'Comment on negotiation status', 'Implementation status', 'Comment on implementation status', 'Purchase price', 'Purchase price currency', 'Purchase price area type', 'Purchase price area', 'Comment on purchase price', 'Annual leasing fee', 'Annual leasing fee currency', 'Annual leasing fee type', 'Annual leasing fee area', 'Comment on leasing fees', 'Contract farming', 'On leased / purchased', 'On leased area/farmers/households', 'Not on leased / purchased (out-grower)', 'Not on leased area/farmers/households (out-grower)', 'Comment on contract farming', 'Jobs created (total)', 'Planned number of jobs (total)', 'Planned employees (total)', 'Planned daily/seasonal workers (total)', 'Current total number of jobs/employees/ daily/seasonal workers', 'Comment on jobs created (total)', 'Jobs created (foreign)', 'Planned number of jobs (foreign)', 'Planned employees (foreign)', 'Planned daily/seasonal workers (foreign)', 'Current foreign number of jobs/employees/ daily/seasonal workers', 'Comment on jobs created (foreign)', 'Jobs created (domestic)', 'Planned number of jobs (domestic)', 'Planned employees (domestic)', 'Planned daily/seasonal workers (domestic)', 'Current domestic number of jobs/employees/ daily/seasonal workers', 'Comment on jobs created (domestic)', 'Actors involved in the negotiation / admission process', 'Name of investment project', 'Comment on investment chain', 'Operating company: Investor ID', 'Operating company: Name', 'Operating company: Country of registration/origin', 'Operating company: Classification', 'Operating company: Investor homepage', 'Operating company: Opencorporates link', 'Operating company: Comment', 'Name of community', 'Name of indigenous people', 'Comment on communities / indigenous peoples affected', 'Recognition status of community land tenure', 'Comment on recognitions status of community land tenure', 'Community consultation', 'Comment on consultation of local community', 'Community reaction', 'Comment on community reaction', 'Presence of land conflicts', 'Comment on presence of land conflicts', 'Displacement of people', 'Number of people actually displaced', 'Number of households actually displaced', 'Number of people displaced out of their community land', 'Number of people displaced staying on community land', 'Number of households displaced "only" from their agricultural fields', 'Number of people facing displacement once project is fully implemented', 'Comment on displacement of people', 'Negative impacts for local communities', 'Comment on negative impacts for local communities', 'Promised compensation (e.g. for damages or resettlements)', 'Received compensation (e.g. for damages or resettlements)', 'Promised benefits for local communities', 'Comment on promised benefits for local communities', 'Materialized benefits for local communities', 'Comment on materialized benefits for local communities', 'Presence of organizations and actions taken (e.g. farmer organizations, NGOs, etc.)', 'Former land owner', 'Comment on former land owner', 'Former land use', 'Comment on former land use', 'Former land cover', 'Comment on former land cover', 'Crops area/yield/export', 'Comment on crops', 'Livestock area/yield/export', 'Comment on livestock', 'Mineral resources area/yield/export', 'Comment on mineral resources', 'Contract farming crops', 'Comment on contract farming crops', 'Contract farming livestock', 'Comment on contract farming livestock', 'Electricity generation', 'Comment on electricity generation', 'Carbon sequestration/offsetting', 'Comment on carbon sequestration/offsetting', 'Has domestic use', 'Domestic use', 'Has export', 'Export', 'Country 1', 'Country 1 ratio', 'Country 2', 'Country 2 ratio', 'Country 3', 'Country 3 ratio', 'Comment on use of produce', 'In country processing of produce', 'Comment on in country processing of produce', 'Processing facilities / production infrastructure of the project (e.g. oil mill, ethanol distillery, biomass power plant etc.)', 'In-country end products of the project', 'Water extraction envisaged', 'Comment on water extraction envisaged', 'Source of water extraction', 'Comment on source of water extraction', 'Comment on how much do investors pay for water', 'Water extraction amount', 'Comment on how much water is extracted', 'Use of irrigation infrastructure', 'Comment on use of irrigation infrastructure', 'Water footprint of the investment project', 'Comment on gender-related info', 'Overall comment', 'Not public', 'Comment on not public']

===== DATAFRAME INFO =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Columns: 147 entries, Deal ID to Comment on not public
dtypes: bool(1), float64(34), int64(2), object(110)
memory usage: 500.1+ KB
None

===== SHAPE OF DATA (rows, columns) =====
(438, 147)

===== MISSING VALUES PER COLUMN =====
Deal ID                                                                                                                             0
Is public                                                                                                                           0
Deal scope                                                                                                                          0
Deal size                                                                                                                           0
Target country                                                                                                                      0
Current size under contract                                                                                                         1
Current size in operation (production)                                                                                             99
Current negotiation status                                                                                                          0
Current implementation status                                                                                                       7
Fully updated                                                                                                                      97
Created at                                                                                                                          0
Top parent companies                                                                                                               22
Intended size (in ha)                                                                                                             415
Size under contract (leased or purchased area, in ha)                                                                               1
Size in operation (production, in ha)                                                                                              99
Comment on land area                                                                                                              282
Intention of investment                                                                                                             0
Comment on intention of investment                                                                                                360
Carbon offset project                                                                                                               0
Comment on carbon offset project                                                                                                  426
Nature of the deal                                                                                                                  0
Comment on nature of the deal                                                                                                     380
Negotiation status                                                                                                                  0
Comment on negotiation status                                                                                                     346
Implementation status                                                                                                               7
Comment on implementation status                                                                                                  356
Purchase price                                                                                                                    397
Purchase price currency                                                                                                           397
Purchase price area type                                                                                                          410
Purchase price area                                                                                                               413
Comment on purchase price                                                                                                         409
Annual leasing fee                                                                                                                435
Annual leasing fee currency                                                                                                       434
Annual leasing fee type                                                                                                           436
Annual leasing fee area                                                                                                           436
Comment on leasing fees                                                                                                           408
Contract farming                                                                                                                    0
On leased / purchased                                                                                                               0
On leased area/farmers/households                                                                                                 430
Not on leased / purchased (out-grower)                                                                                              0
Not on leased area/farmers/households (out-grower)                                                                                435
Comment on contract farming                                                                                                       430
Jobs created (total)                                                                                                                0
Planned number of jobs (total)                                                                                                    392
Planned employees (total)                                                                                                         404
Planned daily/seasonal workers (total)                                                                                            437
Current total number of jobs/employees/ daily/seasonal workers                                                                    353
Comment on jobs created (total)                                                                                                   360
Jobs created (foreign)                                                                                                              0
Planned number of jobs (foreign)                                                                                                  438
Planned employees (foreign)                                                                                                       438
Planned daily/seasonal workers (foreign)                                                                                          438
Current foreign number of jobs/employees/ daily/seasonal workers                                                                  437
Comment on jobs created (foreign)                                                                                                 437
Jobs created (domestic)                                                                                                             0
Planned number of jobs (domestic)                                                                                                 435
Planned employees (domestic)                                                                                                      438
Planned daily/seasonal workers (domestic)                                                                                         438
Current domestic number of jobs/employees/ daily/seasonal workers                                                                 435
Comment on jobs created (domestic)                                                                                                424
Actors involved in the negotiation / admission process                                                                            414
Name of investment project                                                                                                        240
Comment on investment chain                                                                                                       316
Operating company: Investor ID                                                                                                      0
Operating company: Name                                                                                                             0
Operating company: Country of registration/origin                                                                                   0
Operating company: Classification                                                                                                   7
Operating company: Investor homepage                                                                                              331
Operating company: Opencorporates link                                                                                            434
Operating company: Comment                                                                                                        381
Name of community                                                                                                                 396
Name of indigenous people                                                                                                         409
Comment on communities / indigenous peoples affected                                                                              362
Recognition status of community land tenure                                                                                       403
Comment on recognitions status of community land tenure                                                                           414
Community consultation                                                                                                            381
Comment on consultation of local community                                                                                        404
Community reaction                                                                                                                358
Comment on community reaction                                                                                                     386
Presence of land conflicts                                                                                                          0
Comment on presence of land conflicts                                                                                             354
Displacement of people                                                                                                              0
Number of people actually displaced                                                                                               434
Number of households actually displaced                                                                                           436
Number of people displaced out of their community land                                                                            437
Number of people displaced staying on community land                                                                              438
Number of households displaced "only" from their agricultural fields                                                              438
Number of people facing displacement once project is fully implemented                                                            438
Comment on displacement of people                                                                                                 416
Negative impacts for local communities                                                                                            367
Comment on negative impacts for local communities                                                                                 371
Promised compensation (e.g. for damages or resettlements)                                                                         430
Received compensation (e.g. for damages or resettlements)                                                                         436
Promised benefits for local communities                                                                                           400
Comment on promised benefits for local communities                                                                                413
Materialized benefits for local communities                                                                                       391
Comment on materialized benefits for local communities                                                                            387
Presence of organizations and actions taken (e.g. farmer organizations, NGOs, etc.)                                               411
Former land owner                                                                                                                 318
Comment on former land owner                                                                                                      382
Former land use                                                                                                                   315
Comment on former land use                                                                                                        410
Former land cover                                                                                                                 321
Comment on former land cover                                                                                                      397
Crops area/yield/export                                                                                                           154
Comment on crops                                                                                                                  393
Livestock area/yield/export                                                                                                       368
Comment on livestock                                                                                                              434

In [21]:
#getting number of deals made per country
df_deals.groupby(['Target country'], group_keys = True)[['Deal ID']].count()

                Deal ID
Target country
Argentina            65
Belize                4
Bolivia               5
Brazil              141
Chile                54
Colombia             29
Costa Rica            3
Cuba                  2
Ecuador               1
Guatemala             4
Guyana                6
Honduras              2
Jamaica               1
Mexico               14
Nicaragua            17
Panama                2
Paraguay             13
Peru                 19
Suriname              1
Uruguay              54
Venezuela, RB         1

In [22]:
#To look at how the Intention of investment column is structured (and subsequently filter by sector)

df_deals['Intention of investment'] = df_deals['Intention of investment'].str.strip('1234567890#current.|')
df_deals['Intention of investment'].head()

# df_deals['1', '2'] = df_deals['Intention of investment'].str.split(',', 1, expand = True)

0                Tourism
1                Tourism
2             Food crops
3    Food crops, Tourism
4             Food crops
Name: Intention of investment, dtype: object

In [23]:
#Counting the intention of investment based on description
Tourism = df_deals[df_deals['Intention of investment'].str.contains('Tourism')]
print(f'There are {len(Tourism)} deals regarding tourism')
Conservation = df_deals[df_deals['Intention of investment'].str.contains('Conservation' or 'conservation')]
print(f'There are {len(Conservation)} deals regarding conservation')
Food_crops = df_deals[df_deals['Intention of investment'].str.contains('Food' or 'crops' or 'Agriculture')]
print(f'There are {len(Food_crops)} deals regarding agricultural practices')
Livestock = df_deals[df_deals['Intention of investment'].str.contains('Livestock')]
print(f'There are {len(Livestock)} deals regarding livestock practices')
Forestry = df_deals[df_deals['Intention of investment'].str.contains('Timber')]
print(f'There are {len(Forestry)} deals regarding foresting practices')
Biofuels = df_deals[df_deals['Intention of investment'].str.contains('biofuels')]
print(f'There are {len(Biofuels)} deals regarding biofuel industry')
Wind_energy = df_deals[df_deals['Intention of investment'].str.contains('Wind')]
print(f'There are {len(Wind_energy)} deals regarding the wind energy industry')
Other_energy = df_deals[df_deals['Intention of investment'].str.contains('Renewable')]
print(f'There are {len(Other_energy)} deals regarding other renewable energy industries')
Solar_energy = df_deals[df_deals['Intention of investment'].str.contains('Solar')]
print(f'There are {len(Solar_energy)} deals regarding the solar energy industry')

There are 11 deals regarding tourism
There are 0 deals regarding conservation
There are 180 deals regarding agricultural practices
There are 75 deals regarding livestock practices
There are 92 deals regarding foresting practices
There are 50 deals regarding biofuel industry
There are 47 deals regarding the wind energy industry
There are 12 deals regarding other renewable energy industries
There are 16 deals regarding the solar energy industry

In [24]:
#Grouping countries and accumulating the deal sizes to get a national value of deals
dealsize_per_country = df_deals.groupby(['Target country'], group_keys = True)[['Deal size']].sum()
dealsize_per_country.head()

                 Deal size
Target country
Argentina       1426385.86
Belize            51984.00
Bolivia           34450.00
Brazil          3776830.87
Chile            329118.01

In [ ]:
#filtering out the necessary columns
deals_clean = df_deals[['Deal ID', 'Target country', 'Intention of investment', 'Operating company: Country of registration/origin']]
deals_clean.head()

,Deal ID,Target country,Intention of investment,Operating company: Country of registration/origin
0,710,Argentina,Tourism,Argentina
1,717,Argentina,Tourism,Argentina
2,724,Argentina,Food crops,Ukraine
3,727,Argentina,"Food crops, Tourism",Argentina
4,729,Argentina,Food crops,Argentina

In [26]:
# Importing a csv containing contract data of the land acquisition

df_contracts = pd.read_csv(
    "export2\contracts.csv",
    sep=";",         
    engine="python",  
    encoding="utf-8",
)

df_contracts.head()

,ID,Deal ID,Contract number,Contract date,Contract expiration date,Duration of the agreement,Comment on contract
0,1w4V2aI9,724,NaN,NaN,NaN,5.0,NaN
1,tGSS5q4E,778,NaN,NaN,NaN,25.0,NaN
2,0fXI63az,847,NaN,NaN,NaN,30.0,NaN
3,d24WOchE,849,NaN,NaN,NaN,90.0,NaN
4,PDMXavWg,851,NaN,NaN,NaN,25.0,NaN

In [27]:
df_contracts_clean = df_contracts[['ID', 'Deal ID', 'Duration of the agreement']]

In [28]:
df_contracts_clean.head()

         ID  Deal ID  Duration of the agreement
0  1w4V2aI9      724                        5.0
1  tGSS5q4E      778                       25.0
2  0fXI63az      847                       30.0
3  d24WOchE      849                       90.0
4  PDMXavWg      851                       25.0

In [17]:
# Importing a csv containing the information on investors within the Land Matrix
df_investors = pd.read_csv(
    "export2\investors.csv",
    sep=";",         
    engine="python",  
    encoding="utf-8",
)

df_investors.head()

,Investor ID,Name,Country of registration/origin,Classification,Investor homepage,Opencorporates link,Comment,Action comment
0,2,Government of Bangladesh,Bangladesh,State-/government (owned) company,NaN,NaN,NaN,NaN
1,11,China Asean Resources Ltd.,"China, Hong Kong Special Administrative Region",Stock-exchange listed company,NaN,NaN,NaN,NaN
2,12,Agro Forestry Research,China,NaN,NaN,NaN,NaN,NaN
3,14,Amira Nature Foods Ltd (ANFIF),United Arab Emirates,Stock-exchange listed company,https://www.amira.net/,NaN,Amira Nature Foods Ltd is a food company prima...,NaN
4,18,Bigimexco,Vietnam,Private company,NaN,NaN,NaN,NaN

In [ ]:
investor_countries = df_investors.groupby(['Country of registration/origin'], group_keys = True)['Name'].count()
investor_countries #maybe we can add this to a new dataframe that counts deals per country

Country of registration/origin
Afghanistan                                               1
Albania                                                   6
Algeria                                                  21
Angola                                                   58
Argentina                                               428
Armenia                                                   1
Aruba                                                     1
Australia                                                88
Austria                                                  18
Bahamas                                                   1
Bahrain                                                   6
Bangladesh                                               41
Barbados                                                  3
Belarus                                                   7
Belgium                                                  25
Belize                                                    9
Benin                                                    14
Bermuda                                                   8
Bolivia                                                  24
Bosnia and Herzegovina                                   17
Botswana                                                  9
Brazil                                                  302
British Virgin Islands                                   34
Bulgaria                                                 66
Burkina Faso                                             28
Burundi                                                   3
Cambodia                                                325
Cameroon                                                 98
Canada                                                  182
Cape Verde                                                1
Cayman Islands                                           13
Central African Republic                                 15
Chad                                                      3
Chile                                                    82
China                                                   487
China, Hong Kong Special Administrative Region           43
Colombia                                                183
Congo, Dem. Rep.                                         97
Congo, Rep.                                              37
Costa Rica                                               16
Croatia                                                   5
Cuba                                                      2
Cyprus                                                   98
Czech Republic                                            9
Cte d'Ivoire                                            44
Denmark                                                  40
Djibouti                                                  3
Dominican Republic                                        5
Ecuador                                                  37
Egypt, Arab Rep.                                         44
El Salvador                                               1
Equatorial Guinea                                         1
Eritrea                                                   3
Estonia                                                   5
Ethiopia                                                285
Finland                                                  11
France                                                  114
Gabon                                                    24
Gambia, The                                               6
Georgia                                                  31
Germany                                                 115
Ghana                                                   164
Gibraltar                                                 1
Greece                                                    4
Guatemala                                                24
Guernsey                                                  8
Guinea                                                   23
Guinea-Bissau                                             3
Guyana                                                    7
Honduras                                                 14
Hungary                                                   5
Iceland                                                   1
India                                                   447
Indonesia                                               544
Iran, Islamic Rep.                                        9
Iraq                                                      6
Ireland                                                   7
Isle of Man                                               2
Israel                                                   23
Italy                                                    61
Jamaica                                                   1
Japan                                                    77
Jersey                                                    3
Jordan                                                    9
Kazakhstan                                               60
Kenya                                                   115
Korea, Dem. People's Rep.                                10
Kuwait                                                    6
Kyrgyz Republic                                           2
Lao PDR                                                 201
Latvia                                                    1
Lebanon                                                  17
Lesotho                                                   4
Liberia                                                  65
Libya                                                     6
Liechtenstein                                             8
Lithuania                                                 9
Luxembourg                                               34
Madagascar                                               76
Malawi                                                   44
Malaysia                                                209
Maldives                                                  2
Mali                                                     59
Malta                                                     2
Mauritania                                                8
Mauritius                                                41
Mexico                                                   63
Moldova                                                  14
Monaco                                                    2
Mongolia                                                 42
Morocco                                                  23
Mozambique                                              230
Myanmar                                                 128
Namibia                                                  48
Nepal                                                    57
Netherlands                                             122
New Zealand                                              12
Nicaragua                                                41
Niger                                                    16
Nigeria                                                 179
North Macedonia                                           4
Norway                                                   30
Pakistan                                                 44
Panama                                                   23
Papua New Guinea                                         60
Paraguay                                                 53
Peru                                                    159
Philippines                                             413
Poland                                                    3
Portugal                                                 24
Qatar                                                    11
Republic of Korea                                        67
Romania                                                 192
Russian Federation                                      306
Rwanda                                                   27
Runion                                                   1
Saudi Arabia                                             52
Senegal                                                 168
Serbia                                                   56
Seychelles                                                2
Sierra Leone                                             68
Singapore                                                95
Slovenia                                                  1
Solomon Islands                                           1
South Africa                                            302
South Sudan                                              33
Spain                                                    54
Sri Lanka                                                37
Sudan                                                    66
Suriname                                                  5
Swaziland                                                23
Sweden                                                   26
Switzerland                                              49
Syrian Arab Republic                                      2
So Tom and Principe                                     2
Tajikistan                                                6
Tanzania                                                170
Thailand                                                111
Timor-Leste                                               5
Togo                                                      3
Tunisia                                                  11
Trkiye                                                  54
Uganda                                                  103
Ukraine                                                 526
United Arab Emirates                                     73
United Kingdom of Great Britain and Northern Ireland    234
United States Virgin Islands                              3
United States of America                                273
Uruguay                                                  47
Uzbekistan                                               78
Venezuela, RB                                             3
Vietnam                                                 263
Yemen, Rep.                                               1
Zambia                                                  114
Zimbabwe                                                 78
Name: Name, dtype: int64

In [32]:
investor_countries_clean = df_investors[['Investor ID', 'Country of registration/origin', 'Classification']]
investor_countries_clean.head()

,Investor ID,Country of registration/origin,Classification
0,2,Bangladesh,State-/government (owned) company
1,11,"China, Hong Kong Special Administrative Region",Stock-exchange listed company
2,12,China,NaN
3,14,United Arab Emirates,Stock-exchange listed company
4,18,Vietnam,Private company

In [56]:
#Importing the involvements dataframe to be able to merge the other dataframes together
df_involvements = pd.read_csv(
    "export2\involvements.csv",
    sep=";",         
    engine="python",  
    encoding="utf-8",
)
df_involvements.head()

involvements_clean = df_involvements[['Investor ID Upstream', 'Involvement ID']]

In [ ]:
#merging the involvements dataframe with the investors dataframe
involvements_investors = pd.merge(
    involvements_clean,
    investor_countries_clean,
    left_on='Investor ID Upstream',
    right_on='Investor ID',
    how='left'
)
involvements_investors.head()

,Investor ID Upstream,Involvement ID,Investor ID,Country of registration/origin,Classification
0,12,10,12,China,NaN
1,14,11,14,United Arab Emirates,Stock-exchange listed company
2,20,13,20,United States of America,Investment fund
3,25,16,25,India,NaN
4,27,17,27,United States of America,NaN